<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <%- include('menu')%>
    
    <form method="post" action="/sumprocess">
        No:1<input type="text" name="no1" required/>
        No:2<input type="text" name="no2" required/>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>