<!DOCTYPE html>
<html>
  <head>
    <title>Show Data</title>
  </head>
  <body>
    <h1>All Products</h1>
    <table border="1" cellpadding="8">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Details</th>
        <th>Image</th>
      </tr>
      <% mydata.forEach(item => { %>
        <tr>
          <td><%= item.uname %></td>
          <td><%= item.uprice %></td>
          <td><%= item.udetails %></td>
          <td>
            <img src="/upload/<%= item.imageurl %>" width="100">
          </td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>